*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: rgb(206, 216, 204);
}

#contenedor1{
	width: 960px;
	margin: auto;
	
    

}

#t2{
	margin-bottom: 50px;
}

header{
	background: rgb(4, 9, 7);
	height: 90px;
	border-radius:20px;

	

}

 header img{
	line-height: 100px;
	margin-left: 10px;
	float: left;
	margin-top: -57px;
	
	
}

header h2{
	color: #009AFF;
	line-height: 100px;
	font-size: 25px;
	margin-left: 25px;
text-align:center;
margin-left: 50px;
	
}

 nav{
position: absolute;
width: 800px;
height: 50px;
background:#142675;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 89px;
font-size: 600PX;

}

nav a{
position: relative;
display: inline-block;
font-size: 500PX;
font-weight: 700px;
color: #fff;
text-decoration: none;
padding: 0 65px;
z-index: 1;

}
nav span{
	position:absolute ;
	top: 0;
	left: 0;
	width: 95px;
	height: 100%;
	background: linear-gradient(45deg, #009AFF,#CED8CC );#CED8CC.#FF0000
	border-radius: 8px;
	transition: .5s;
}
nav a:nth-child(1):hover~span
{
	left: 0;
}
nav a:nth-child(2):hover~span
{
	left: 165px;
}
nav a:nth-child(3):hover~span
{
	left: 333px;
	width: 110px;
}
nav a:nth-child(4):hover~span
{
	left: 510px;
	width: 115px;
}
nav a:nth-child(5):hover~span
{
	left: 690px;
	width: 110px;
}

nav a{
	font-size:16px;
}

#baner{
	margin: auto;
	border: 10px solid #040907;
	margin-top: 80px;
	margin-left: 112px;
margin-right: 80px;
border-radius: 10px;
margin-bottom: 20px;

}

#p5{
	float: left;
	width: 700px;
	height: 350px;
	background: #f6f6f6;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	margin-left: 15%;

 }

 article{
 	margin-top: 10px;

 }


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 section {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}


footer{
	width: 800px;
	height: 60px;
	background: #040907;
	clear: both;
	border: 5px solid ;
	border-top-width: 5px;
	border-color: #142675;
	border-bottom-width: 10px;
	border-bottom-right-radius: 90px;
	border-bottom-left-radius: 90px;
margin-left: 20%;
}

footer p{
	font-size: 20px;
	text-align: center;
	color: #CED8CC;
	line-height: 28px;
	font-style: italic;
}
 