*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: rgb(206, 216, 204);
}

#contenedor1{
	width: 960px;
	margin: auto;
	
    

}

#t2{
	margin-bottom: 50px;
}

header{
	background: rgb(4, 9, 7);
	height: 90px;
	border-radius:20px;

	

}

 header img{
	line-height: 100px;
	margin-left: 10px;
	float: left;
	margin-top: -57px;
	
	
}

header h2{
	color: #009AFF;
	line-height: 100px;
	font-size: 25px;
	margin-left: 25px;
text-align:center;
margin-left: 50px;
	
}

 nav{
position: absolute;
width: 800px;
height: 50px;
background:#142675;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 89px;
font-size: 600PX;

}

nav a{
position: relative;
display: inline-block;
font-size: 500PX;
font-weight: 700px;
color: #fff;
text-decoration: none;
padding: 0 67px;
z-index: 1;

}
nav span{
	position:absolute ;
	top: 0;
	left: 0;
	width: 95px;
	height: 100%;
	background: linear-gradient(45deg, #009AFF,#CED8CC );#CED8CC.#FF0000
	border-radius: 8px;
	transition: .5s;
}
nav a:nth-child(1):hover~span
{
	left: 0;
}
nav a:nth-child(2):hover~span
{
	left: 155px;
}
nav a:nth-child(3):hover~span
{
	left: 333px;
	width: 110px;
}
nav a:nth-child(4):hover~span
{
	left: 520px;
	width: 115px;
}
nav a:nth-child(5):hover~span
{
	left: 690px;
	width: 110px;
}

nav a{
	font-size:16px;
}

#baner{
	margin: auto;
	border: 10px solid #040907;
	margin-top: 80px;
	margin-left: 112px;
margin-right: 80px;
border-radius: 10px;
margin-bottom: 20px;

}

#contenido{
	float: left;
	width: 700px;
	background: #f6f6f6;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
 }

#contenido h2{
	font-size: 40px;
	padding: 10px;
	color: #ff8000;
	border-bottom: 5px solid #ff0000;
}

#contenido img{
	float: left;
	margin: 10px;

}


#contenido p{
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 15px;

}

 aside {

	margin-right: 10px;
	background: #009Aff;
	margin-top: 31px;
	border-radius: 10pX;
	margin-right: 10px;
}

aside h3{
	font-size: 29px;
	background: #ff8000;
	text-align: center;
	padding: 23px;
	color: #f6f6f6;

}

aside p{
	font-size: 15px;
	padding: 10px;
	text-align: justify;
	line-height: 15px;

}

aside img{
	width: 200px;
}

#imgpu{
	text-align: center;
	margin-bottom: 10px;
}

footer{
	height: 60px;
	background: #040907;
	clear: both;
	border: 5px solid ;
	border-top-width: 5px;
	border-color: #142675;
	border-bottom-width: 10px;
	border-bottom-right-radius: 90px;
	border-bottom-left-radius: 90px;
}

footer p{
	font-size: 20px;
	text-align: center;
	color: #CED8CC;
	line-height: 28px;
	font-style: italic;
}

#contenido i{
	color: #ff0000;
}

 i{
	color: #040907;
}

#p2conte{
	float: left;
	width: 960px;
	height: 500px;
	background: #f6f6f6;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
 }

#p2conte h2{
	font-size: 25px;
	padding: 10px;
	color: #ff8000;
	border-bottom: 5px solid #ff0000;
}


#teble{
	text-align: center;
	margin-left: 370px;

}

#p2conte{
	text-align: center;
	margin-left: 10px;
}

 

#table{
	text-align: center;
	margin-left: 200px;

}



    .tt {
    margin-top:50px;
    height:100px;
    width:700px;
    border:2px solid black;
}

.usu h1{
    width: 30px;
    font-size:20px;
    margin-top:-30px;
    margin-left: 7px;
    background:white;white
}

#contenedor2{
	float: left;
	width: 960px;
	height: 700px;
	background: #f6f6f6;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;

 }

fieldset{
    margin-top: 60px;
    height:226px;
    width: 400px;
    border:2px solid black;
    margin-left: 10px;
   border-color: #009AFF;
   font-size: 15px;
  margin: auto;
  border: 4px solid ;

}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


  section p {
	font-family: "PT Sans", sans-serif;
   font-weight: 350;
   font-style: normal;
  
}

aside {

	font-family: "PT Sans", sans-serif;
   font-weight: 350;
   font-style: normal;
   font-size: 13px;
	 
}



@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

aside h3{
	 font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

